Flask==0.11.1
Flask-OAuthlib==0.9.3
Flask-SQLAlchemy==2.1
Flask-SSLify==0.1.5
Flask-WTF==0.12
Flask-Login
-e git+ssh://git@github.com/cfangmeier/flask_table.git#egg=Flask-Table
-e git+ssh://git@github.com/maxcountryman/flask-uploads.git#egg=Flask-Uploads
openpyxl==2.3.5
sqlalchemy-migrate==0.10.0
passlib
